_OTHER/XML_IMPORTER/XML_XSD/xsd_validator.xsd


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="properties">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="property" maxOccurs="unbounded" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="agency_id">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="9999"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="agency_p_iva">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="10"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element  name="agent_id">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="999999"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element  name="reference_code" minOccurs="0">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="contract">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Affitto"/>
										<xs:enumeration value="Vendita"/>
										<xs:enumeration value="Leasing"/>
										<xs:enumeration value="Nuda Proprietà"/>
										<xs:enumeration value="Multiproprietà"/>
										<xs:enumeration value="Affitto a riscatto"/>
										<xs:enumeration value="Asta Immobiliare"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:string" name="asta_immobiliare"/>
                            <xs:element name="id_contract_status">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:enumeration value="1"/>
                                        <xs:enumeration value="2"/>
                                        <xs:enumeration value="3"/>
                                        <xs:enumeration value="4"/>
                                        <xs:enumeration value="5"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="country">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Italia"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="region">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="city">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="town">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="district">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="street">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="show_address">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:integer">
                                                        <xs:enumeration value="0" />
                                                        <xs:enumeration value="1" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="street_num"/>
                            <xs:element type="xs:string" name="longitude"/>
                            <xs:element type="xs:string" name="latitude"/>
                            <xs:element name="category">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="tipology">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="mq">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="100000"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="price">
                                <xs:simpleType>
                                    <xs:restriction base="xs:double">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="100000000000"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="negotiation_reserved">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:enumeration value="0" />
                                        <xs:enumeration value="1" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="id_locals">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="1"/>
                                        <xs:enumeration value="2"/>
                                        <xs:enumeration value="3"/>
                                        <xs:enumeration value="4"/>
                                        <xs:enumeration value="5"/>
                                        <xs:enumeration value="6"/>
                                        <xs:enumeration value="7"/>
                                        <xs:enumeration value="8"/>
                                        <xs:enumeration value="9"/>
                                        <xs:enumeration value="10"/>
                                        <xs:enumeration value="11"/>
                                        <xs:enumeration value="12"/>
                                        <xs:enumeration value="13"/>
                                        <xs:enumeration value="14"/>
                                        <xs:enumeration value="15"/>
                                        <xs:enumeration value="16"/>
                                        <xs:enumeration value="17"/>
                                        <xs:enumeration value="18"/>
                                        <xs:enumeration value="19"/>
                                        <xs:enumeration value="20"/>
                                        <xs:enumeration value="21"/>
                                        <xs:enumeration value="22"/>
                                        <xs:enumeration value="23"/>
                                        <xs:enumeration value="24"/>
                                        <xs:enumeration value="25"/>
                                        <xs:enumeration value="26"/>
                                        <xs:enumeration value="27"/>
                                        <xs:enumeration value="28"/>
                                        <xs:enumeration value="29"/>
                                        <xs:enumeration value="30"/>
                                        <xs:enumeration value="NN"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="id_rooms">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="1"/>
                                        <xs:enumeration value="2"/>
                                        <xs:enumeration value="3"/>
                                        <xs:enumeration value="4"/>
                                        <xs:enumeration value="5"/>
                                        <xs:enumeration value="6"/>
                                        <xs:enumeration value="7"/>
                                        <xs:enumeration value="8"/>
                                        <xs:enumeration value="9"/>
                                        <xs:enumeration value="10"/>
                                        <xs:enumeration value="NN"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="id_bathrooms">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="1"/>
                                        <xs:enumeration value="2"/>
                                        <xs:enumeration value="3"/>
                                        <xs:enumeration value="4"/>
                                        <xs:enumeration value="5"/>
                                        <xs:enumeration value="6"/>
                                        <xs:enumeration value="7"/>
                                        <xs:enumeration value="8"/>
                                        <xs:enumeration value="9"/>
                                        <xs:enumeration value="10"/>
                                        <xs:enumeration value="11"/>
                                        <xs:enumeration value="12"/>
                                        <xs:enumeration value="13"/>
                                        <xs:enumeration value="14"/>
                                        <xs:enumeration value="15"/>
                                        <xs:enumeration value="16"/>
                                        <xs:enumeration value="17"/>
                                        <xs:enumeration value="18"/>
                                        <xs:enumeration value="19"/>
                                        <xs:enumeration value="20"/>
                                        <xs:enumeration value="21"/>
                                        <xs:enumeration value="22"/>
                                        <xs:enumeration value="23"/>
                                        <xs:enumeration value="24"/>
                                        <xs:enumeration value="25"/>
                                        <xs:enumeration value="26"/>
                                        <xs:enumeration value="27"/>
                                        <xs:enumeration value="28"/>
                                        <xs:enumeration value="29"/>
                                        <xs:enumeration value="30"/>
                                        <xs:enumeration value="EST"/>
                                        <xs:enumeration value="NO"/>
                                        <xs:enumeration value="NN"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="id_box">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="NO"/>
                                        <xs:enumeration value="S"/>
                                        <xs:enumeration value="D"/>
                                        <xs:enumeration value="T"/>
                                        <xs:enumeration value="PC"/>
                                        <xs:enumeration value="PS"/>
                                        <xs:enumeration value="NN"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="id_floor">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="R"/>
                                        <xs:enumeration value="T"/>
                                        <xs:enumeration value="1"/>
                                        <xs:enumeration value="2"/>
                                        <xs:enumeration value="3"/>
                                        <xs:enumeration value="4"/>
                                        <xs:enumeration value="5"/>
                                        <xs:enumeration value="6"/>
                                        <xs:enumeration value="7"/>
                                        <xs:enumeration value="7+"/>
                                        <xs:enumeration value="U"/>
                                        <xs:enumeration value="NN"/>
                                        <xs:enumeration value="2L"/>
                                        <xs:enumeration value="3L"/>
                                        <xs:enumeration value="SE"/>
                                        <xs:enumeration value="PL"/>
                                        <xs:enumeration value="PP"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="id_elevator">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="SI"/>
                                        <xs:enumeration value="NO"/>
                                        <xs:enumeration value="NN"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="id_heating">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="AUT"/>
                                        <xs:enumeration value="CEN"/>
                                        <xs:enumeration value="NO"/>
                                        <xs:enumeration value="NN"/>
                                        <xs:enumeration value="TL"/>
                                        <xs:enumeration value="PSL"/>
                                        <xs:enumeration value="AP"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="id_garden">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="NO"/>
                                        <xs:enumeration value="PRI"/>
                                        <xs:enumeration value="COM"/>
                                        <xs:enumeration value="NN"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="id_property_conditions">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="AB"/>
                                        <xs:enumeration value="NEW"/>
                                        <xs:enumeration value="RIS"/>
                                        <xs:enumeration value="DAR"/>
                                        <xs:enumeration value="NN"/>
                                        <xs:enumeration value="IC"/>
                                        <xs:enumeration value="BC"/>
                                        <xs:enumeration value="OC"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="id_property_status">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="AFF"/>
                                        <xs:enumeration value="NP"/>
                                        <xs:enumeration value="LIB"/>
                                        <xs:enumeration value="OCC"/>
                                        <xs:enumeration value="NN"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="id_ads_status">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:enumeration value="1"/>
                                        <xs:enumeration value="2"/>
                                        <xs:enumeration value="3"/>
                                        <xs:enumeration value="4"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="prestige">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="1"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="price_lowered">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="1"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:string" name="views"/>
                            <xs:element type="xs:string" name="video_url"/>
                            <xs:element  name="description">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="id_energy_class">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="A+"/>
                                        <xs:enumeration value="A"/>
                                        <xs:enumeration value="B"/>
                                        <xs:enumeration value="C"/>
                                        <xs:enumeration value="D"/>
                                        <xs:enumeration value="E"/>
                                        <xs:enumeration value="F"/>
                                        <xs:enumeration value="G"/>
                                        <xs:enumeration value="NN"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="id_ipe_um">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="kwh/m2 anno"/>
                                        <xs:enumeration value="kwh/m3 anno"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:string" name="ipe"/>
                            <xs:element name="images">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="url" maxOccurs="unbounded" minOccurs="3">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:anyURI">
                                                    <xs:pattern value="http://.+" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="appointment">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="owner_name"/>
                                        <xs:element type="xs:string" name="owner_tel_home"/>
                                        <xs:element type="xs:string" name="owner_tel_office"/>
                                        <xs:element type="xs:string" name="owner_mobile"/>
                                        <xs:element type="xs:string" name="owner_address"/>
                                        <xs:element type="xs:string" name="owner_town"/>
                                        <xs:element type="xs:string" name="occupant_name"/>
                                        <xs:element type="xs:string" name="occupant_tel"/>
                                        <xs:element type="xs:string" name="appointment_date"/>
                                        <xs:element type="xs:string" name="appointment_start_date"/>
                                        <xs:element type="xs:string" name="appointment_end_date"/>
                                        <xs:element type="xs:string" name="appointment_agent"/>
                                        <xs:element type="xs:string" name="appointment_channel"/>
                                        <xs:element type="xs:string" name="appointment_conditions"/>
                                        <xs:element type="xs:string" name="appointment_renwable"/>
                                        <xs:element type="xs:string" name="appointment_note"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute  name="id_ew">
                            <xs:simpleType>
                                <xs:restriction base="xs:integer">
                                    <xs:minInclusive value="0"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute  name="id">
                            <xs:simpleType>
                                <xs:restriction base="xs:integer">
                                    <xs:minInclusive value="0"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>